<div class="container">
  <div class="row" style="height: 15em; background: #ff7676; text-align: center; padding: 1em">
    <h1>Welcome</h1>
    <h3>Some Name</h3>
    <h5>Ford IT Assets Management System</h5>
  </div>
  <div class="row">
    <div class="col">
      something 1
    </div>
    <div class="col">
      something 2
    </div>
  </div>
  <div class="row">
    <div class="col">
      something 3
    </div>
    <div class="col">
      something 4
    </div>
  </div>
</div>
